django-organizations~=2.5.0
django-extensions>=3.2,<4.2
django-allauth[socialaccount]~=65.8.1
django-phonenumber-field~=8.1.0
phonenumbers~=9.0.6
openwisp-utils[rest,celery] @ https://github.com/sachinspanidea8484/openwisp-utils-spanidea/tarball/main
packaging
django-sesame~=3.2.3
